h1{
  text-align: center;
  color:#F5F5F5
  
  
}

h2{
    color:#F5F5F5
}

body {
    background-color: #1E2A47;
    font-family: Arial, Helvetica, sans-serif;
}
p {
color:#F5F5F5
}

section{
    color:#F5F5F5
}

hr{
  border: 0;
  border-top: 1px solid #A0A0A0;
  margin: 20px 0;
    
}